USE [master]
GO
/****** Object:  Database [e_college]    Script Date: 3/6/2026 2:00:14 PM ******/
CREATE DATABASE [e_college]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'e_college', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\e_college.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'e_college_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\e_college_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [e_college].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [e_college]
GO
USE [e_college]
GO
/****** Object:  View [dbo].[vwStudentFS]    Script Date: 3/6/2026 2:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwStudentFS]
AS
SELECT DISTINCT 
                  sims.dbo.Courses.ID, t.RegNo, t.Amount, t.Debit, t.Credit, CONVERT(VARCHAR, t.dated, 103) AS Dated, t.dated AS MyDate, t.Fees_Type, t.MyMode, t.ReferenceNo, t.SemesterCode, t.TDescription, CAST(t.TransactionCode AS varchar) 
                  AS TransactionCode, t.auditID, CONVERT(VARCHAR, t.AuditTime, 100) AS audittime, t.ReferenceNo AS Trans_code, t.TDescription AS Description, t.dated AS date_trans, sims.dbo.Students.Status_Type AS Status_ID, 
                  sims.dbo.Students.Name, CASE WHEN sims.dbo.Students.Status_Type = 0 THEN 'INACTIVE' ELSE 'ACTIVE' END AS stud_status, sims.dbo.Students.Stud_Category, sims.dbo.Billing_Codes.Name AS Course, 
                  sims.dbo.faculty.faculty_name AS faculty, sims.dbo.faculty.faculty_id, sims.dbo.Students_Master.Course_Group, sims.dbo.Students.Gender, sims.dbo.Students_Master.Student_Type_ID, 
                  sims.dbo.Student_Category_Types.Name AS CategoryName, sims.dbo.Billing_Codes.BeginDate, sims.dbo.Billing_Codes.Code, sims.dbo.Billing_Codes.EndDate, sims.dbo.Fees_Balance_Detail.Bal AS StudentFeesBalance, 
                  1 AS Year_Paid
FROM     (SELECT DISTINCT 
                                    CAST(rcptno AS varchar) AS ReferenceNo, ABS(SUM1) AS Amount, '' AS Debit, ABS(SUM1) AS Credit, dte AS dated, Descr AS TDescription, SemesterID AS SemesterCode, admno AS RegNo, 'PAYMENT' AS Fees_Type, 
                                    Payment_by AS MyMode, Chno AS TransactionCode, auditID, AuditTime
                  FROM      sims.dbo.feespay
                  UNION
                  SELECT DISTINCT 
                                    CAST(InvoiceID AS varchar) AS Expr1, ABS(Amounts) AS Expr2, ABS(Amounts) AS Expr3, '' AS Expr4, Dated, InvoiceDescr, SemesterID, Regno, 'INVOICE' AS Expr5, 'Invoice' AS Expr6, CAST(InvoiceID AS varchar) AS Expr7, 
                                    AuditID, auditTime
                  FROM     sims.dbo.Student_invoices
                  WHERE  (Amounts >= 0)
                  UNION
                  SELECT DISTINCT 
                                    CAST(InvoiceID AS varchar) AS Expr1, ABS(Amounts) AS Expr2, '' AS Expr3, ABS(Amounts) AS Expr4, Dated, InvoiceDescr, SemesterID, Regno, 'INVOICE' AS Expr5, 'CREDIT NOTE' AS Expr6, CAST(InvoiceID AS varchar) AS Expr7, 
                                    AuditID, auditTime
                  FROM     sims.dbo.Student_invoices AS Student_invoices_1
                  WHERE  (Amounts < 0)
                  UNION
                  SELECT DISTINCT 
                                    'OP_BAL' AS Expr1, ABS(Balance) AS Expr2, ABS(Balance) AS Expr3, '' AS Expr4, Dated, 'Opening Balance' AS Expr5, NULL AS Expr6, Regno, 'OpeningBalance' AS Expr7, 'Invoice' AS Expr8, 'OP_BAL' AS Expr9, NULL 
                                    AS Expr10, NULL AS Expr11
                  FROM     sims.dbo.Student_Opening_Balances
                  WHERE  (Balance > 0)
                  UNION
                  SELECT DISTINCT 
                                    'OP_BAL' AS Expr1, ABS(Balance) AS Expr2, '' AS Expr3, ABS(Balance) AS Expr4, Dated, 'Opening Balance' AS Expr5, NULL AS Expr6, Regno, 'OpeningBalance' AS Expr7, 'Invoice' AS Expr8, 'OP_BAL' AS Expr9, NULL 
                                    AS Expr10, NULL AS Expr11
                  FROM     sims.dbo.Student_Opening_Balances AS Student_Opening_Balances_1
                  WHERE  (Balance < 0)
                  UNION
                  SELECT DISTINCT 
                                    CAST(InvoiceID AS varchar) AS Expr1, ABS(Amounts) AS Expr2, ABS(Amounts) AS Expr3, '' AS Expr4, Dated, InvoiceDescr, SemesterID, Regno, 'INVOICE' AS Expr5, 'Invoice' AS Expr6, CAST(InvoiceID AS varchar) AS Expr7, 
                                    AuditID, auditTime
                  FROM     sims.dbo.Student_Refunds
                  WHERE  (Amounts >= 0)
                  UNION
                  SELECT DISTINCT 
                                    unit_code, ABS(AMOUNT) AS Expr1, '' AS Expr2, ABS(AMOUNT) AS Expr3, DATED, unit_description, SemesterID, REGNO, 'PAYMENT' AS Expr4, 'Deposit' AS Expr5, CAST(NO AS varchar) AS Expr6, AuditID, AuditTime
                  FROM     sims.dbo.LOANS) AS t INNER JOIN
                  sims.dbo.Student_Sessions ON sims.dbo.Student_Sessions.Regno = t.RegNo INNER JOIN
                  sims.dbo.Students ON sims.dbo.Student_Sessions.Regno = sims.dbo.Students.Regno INNER JOIN
                  sims.dbo.Students_Master ON sims.dbo.Students_Master.Regno = sims.dbo.Students.Regno INNER JOIN
                  sims.dbo.Courses ON sims.dbo.Students_Master.Degree_ID = sims.dbo.Courses.ID INNER JOIN
                  sims.dbo.faculty ON sims.dbo.Students.Faculty_ID = sims.dbo.faculty.ID INNER JOIN
                  sims.dbo.Student_Category_Types ON sims.dbo.Student_Category_Types.ID = sims.dbo.Students_Master.Student_Type_ID INNER JOIN
                  sims.dbo.Billing_Codes ON sims.dbo.Students.Billing_ID = sims.dbo.Billing_Codes.ID INNER JOIN
                  sims.dbo.Fees_Balance_Detail ON sims.dbo.Fees_Balance_Detail.Regno = t.RegNo
GO
/****** Object:  Table [dbo].[tblCourses]    Script Date: 3/6/2026 2:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCourses](
	[CourseID] [varchar](20) NOT NULL,
	[CourseName] [varchar](200) NULL,
	[DepartmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDepartments]    Script Date: 3/6/2026 2:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepartments](
	[DepartmentID] [int] NOT NULL,
	[DepartmentName] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblExamRegistrations]    Script Date: 3/6/2026 2:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblExamRegistrations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdmissionNo] [varchar](20) NULL,
	[UnitCode] [varchar](20) NULL,
	[AcademicYear] [varchar](10) NULL,
	[Term] [int] NULL,
	[DateRegistered] [datetime] NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMarks]    Script Date: 3/6/2026 2:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMarks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdmissionNo] [varchar](20) NULL,
	[UnitCode] [varchar](20) NULL,
	[DepartmentID] [int] NULL,
	[AcademicYear] [varchar](10) NULL,
	[Term] [int] NULL,
	[FormativeTheory] [decimal](5, 2) NULL,
	[FormativePractical] [decimal](5, 2) NULL,
	[SummativeTheory] [decimal](5, 2) NULL,
	[SummativePractical] [decimal](5, 2) NULL,
	[UploadedBy] [int] NULL,
	[DateUploaded] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Marks] UNIQUE NONCLUSTERED 
(
	[AdmissionNo] ASC,
	[UnitCode] ASC,
	[AcademicYear] ASC,
	[Term] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPOEUploads]    Script Date: 3/6/2026 2:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPOEUploads](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdmissionNo] [varchar](20) NULL,
	[UnitCode] [varchar](20) NULL,
	[AcademicYear] [varchar](10) NULL,
	[Term] [int] NULL,
	[FilePath] [varchar](500) NULL,
	[UploadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoles]    Script Date: 3/6/2026 2:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NULL,
	[RoleName] [varchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStaff]    Script Date: 3/6/2026 2:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStaff](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StaffNo] [varchar](20) NOT NULL,
	[StaffName] [varchar](200) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSystemSettings]    Script Date: 3/6/2026 2:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSystemSettings](
	[AcademicYear] [varchar](10) NULL,
	[Term] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTrainees]    Script Date: 3/6/2026 2:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTrainees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdmissionNo] [varchar](20) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[CourseID] [nvarchar](50) NOT NULL,
	[CourseName] [nvarchar](150) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[PasswordHash] [varchar](255) NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTrainerUnits]    Script Date: 3/6/2026 2:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTrainerUnits](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[UnitCode] [varchar](20) NULL,
	[DepartmentID] [int] NULL,
	[AcademicYear] [varchar](10) NULL,
	[Term] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUnits]    Script Date: 3/6/2026 2:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUnits](
	[UnitCode] [varchar](20) NOT NULL,
	[UnitName] [varchar](200) NULL,
	[CourseID] [varchar](20) NULL,
	[DepartmentID] [int] NULL,
	[HasPractical] [bit] NULL,
	[RequiresPOE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserRoles]    Script Date: 3/6/2026 2:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserRoles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[RoleID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblExamRegistrations] ADD  DEFAULT (getdate()) FOR [DateRegistered]
GO
ALTER TABLE [dbo].[tblMarks] ADD  DEFAULT (getdate()) FOR [DateUploaded]
GO
ALTER TABLE [dbo].[tblPOEUploads] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 254
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Student_Sessions (sims.dbo)"
            Begin Extent = 
               Top = 7
               Left = 302
               Bottom = 170
               Right = 507
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Students (sims.dbo)"
            Begin Extent = 
               Top = 7
               Left = 555
               Bottom = 170
               Right = 786
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Students_Master (sims.dbo)"
            Begin Extent = 
               Top = 7
               Left = 834
               Bottom = 170
               Right = 1086
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Courses (sims.dbo)"
            Begin Extent = 
               Top = 7
               Left = 1134
               Bottom = 170
               Right = 1335
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "faculty (sims.dbo)"
            Begin Extent = 
               Top = 7
               Left = 1383
               Bottom = 170
               Right = 1577
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Student_Category_Types (sims.dbo)"
            Begin Extent = 
               Top = 7
               Left = 1625
              ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwStudentFS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' Bottom = 170
               Right = 1819
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Billing_Codes (sims.dbo)"
            Begin Extent = 
               Top = 175
               Left = 48
               Bottom = 338
               Right = 267
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Fees_Balance_Detail (sims.dbo)"
            Begin Extent = 
               Top = 175
               Left = 315
               Bottom = 338
               Right = 529
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwStudentFS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwStudentFS'
GO
USE [master]
GO
