@page
@model Portal_TENP.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="content-wrapper">

    <section class="content-header">
        <h1>Dashboard</h1>
    </section>

    <section class="content">

        <div class="row">

            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h4>Welcome</h4>
                        <p>@HttpContext.Session.GetString("Username")</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
            </div>

        </div>

    </section>

</div>
